.meal-details {
  .meal-details-actions {
    margin-block-end: 1rem;
    .back-btn {
      @include back-btn;
      align-self: flex-start;
    }
    .add-to-cart-btn {
      @include back-btn;
    }
  }

  .meal-img {
    width: 50%;
    img {
      border-radius: rem(8px);
      border: 2px solid $clr-grey;
    }
  }

  .meal-info {
    flex: 1;
    margin-inline-start: 2rem;
    .meal-name {
      font-size: rem(45px);
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}
