.app-header-container{
    background-color: lightblue;
    font-size: rem(30px);
    .logo{
        margin: 0 1rem;
    }

    .nav-bar{
        & >*{
            margin: 0 1rem;
        }
        & >*:hover{
            text-decoration: none;
            color: gray;
            cursor: pointer;
        }
    }
}