.meal-preview {
  border: 1px solid $clr-border;
  border-radius: 0.25rem;
  .meal-title{
    text-align: center;
    padding: 0.3rem 0.1rem;
    border-bottom: 1px solid $clr-border;
    font-size: rem(18px);
    font-weight: bold;
  }
  .meal-img {
    img {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }
  .meal-stats{
    padding: 0.3rem;
    flex: 1;
  }



  .ing,.cal {
    padding: 0.2rem 0.5rem;
    border-radius: rem(4px);
  }

  .carb {
    background-color: yellow;
  }
  .protein {
    background-color: purple;
  }
  .vegi {
    background-color: green;
  }
  .fat{
    background-color: grey;
  }
}
