.meal-preview {
  border: 1px solid $clr-border;
  border-radius: 0.25rem;
  position: relative;
  &:hover{

    text-decoration: none;
  }
  .meal-title {
    text-align: center;
    padding: 0.3rem 0.1rem;
    border-bottom: 1px solid $clr-border;
    font-size: rem(18px);
    font-weight: bold;
    &:hover .remove-meal-btn {
      opacity: 1;
    }
  }
  .meal-img {
    img {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      height: 100%;
      object-fit: cover;
    }
  }
  .meal-stats {
    flex: 1;
  }
  .add-btn{
    @include back-btn;
    border-top-left-radius: 0;
    border-top-right-radius:0 ;
  }
  .remove-meal-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: $clr-border;
    opacity: 0;
    pointer-events: none;
  }

  .ing,
  .cal {
    padding: 0.2rem 0.5rem;
    border-radius: rem(4px);
  }
  .cal-title,.ing-title{
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: rem(18px);
    margin-top: 0.2rem;
  }

  .cal-section{
    height: min-content;
    background-color: $clr-forthLCream;
  }
  .ing-section{
    flex-grow: 1;
    background-color: $clr-thirdCream;
  }

  // .carb {
  //   background-color: $clr-carb;
  // }
  // .protein {
  //   background-color: $clr-protein;
  // }
  // .vegis {
  //   background-color: $clr-vegis;
  // }
  // .fat {
  //   background-color: $clr-fat;
  // }
}
